---
import CardLayout from "../components/CardLayout.astro";
import Layout from "../layouts/Layout.astro";
---

<script>
  document.addEventListener("astro:page-load", () => {
    const cards = [
      {
        title: "Card 1",
        description: "This is the first card",
        color: "bg-red-500",
      },
      {
        title: "Card 2",
        description: "This is the second card",
        color: "bg-blue-500",
      },
      {
        title: "Card 3",
        description: "This is the third card",
        color: "bg-green-500",
      },
      {
        title: "Card 4",
        description: "This is the fourth card",
        color: "bg-yellow-500",
      },
    ];

    const cardGrid = document.querySelector(".card-grid");
    cards.forEach((card) => {
      const cardLayout = document.createElement("card-layout");
      cardLayout.setAttribute("card", JSON.stringify(card));
      cardGrid.appendChild(cardLayout);
    });
  });
</script>

<Layout title="Trello clone">
  <main class="p-4">
    <section class="card-grid grid grid-cols-4 gap-4">
      <!-- {cards.map((card) => <CardLayout card={card} />)} -->
    </section>
  </main>
</Layout>
