---
const { card } = Astro.props;
---

<div class="card text-black p-4 bg-slate-400 rounded">
  <header class="card-header font-bold mb-5">
    {card.title}
  </header>
  <div class="card-tasks flex flex-col gap-3">
    {
      card.tasks.map((task: string) => (
        <div class="card-task p-2 bg-slate-200 rounded shadow-md">
          <span>{task}</span>
        </div>
      ))
    }
  </div>
  <footer
    class="card-footer mt-4 flex items-center gap-2 hover:cursor-pointer text-gray-800"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="w-4 h-4"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M12 4.5v15m7.5-7.5h-15"></path>
    </svg>
    <span>Add card</span>
  </footer>
</div>
